@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Exo:wght@100&display=swap');

body {
    max-width: 860px;
    margin: 1rem auto;
    background-color: #EFE9F4;
}
header {
    background-color: #453643;
    color: #EFE9F4;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
header h1, .card h3 {
    font-family: Arvo, Arial, Helvetica, sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.card {
    border: solid 1px #453643;
    box-shadow: 0 0 10px #11B5E4;
    border-radius: 10px;
    padding: 15px;
    margin: 0px 10px;
    font-family: Exo,Arial, Helvetica, sans-serif;
    text-align: center;
}
.card:hover {
    box-shadow: 0 0 30px #fff;
}
.card ul li {
    padding: 10px;
}
.colordiv {
    border: 1px solid #11B5E4;
    padding: 25px;
    margin: 1rem auto;
    text-align: center;
    font-size: 20px;
}
#colorone {
    background-color: #453643;
    
    color: #fff;
}
#colortwo {
    background-color: #11B5E4;
}
#colorthree {
    background-color: #453643;
    color: #fff;
}
#fontone {
    font-family: Arvo,Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}
#fonttwo {
    font-family: Exo, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}
.card img {
    width: 60%;
    /* padding: 10px; */
    border: solid 1px #453643 ;
}
.card img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 3px #fff;
  }