@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Exo+2:wght@200&display=swap');
body {
    background-color: #ced1d0;
    font-family: Exo, Arial, Helvetica, sans-serif;
}
header {
    max-width: 100%;
    margin: 0 auto;
    background-color: #2E6171;
    padding: 20px;
    /* border-radius: 10px; */
}
header  h1 {
    
    color: #fff;
    text-align: center;
    font-family: Arvo, Arial, Helvetica, sans-serif;
    height: 55px;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 1060px;
    margin: auto;
    text-align: center;
}
.navbar {
    display: block;
    list-style: none;
    width: 100%;
    padding: 20px;
    margin:  auto;
    font-size: 1.2rem;
    border-bottom: 1px solid #fff;
    /* color: #2E6171; */
    /* background-color: #11B5E4; */
    /* border-radius: 10px; */
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #7CAE7A;
    text-shadow: 0 0 5px #2E6171;
}
.active {
    text-decoration: underline;
    
}
.navbar a {
    text-decoration: none;
    color: #453643;
}
.navbar li {
    /* width: 80%; */
    display: none;
    padding: 25px;
    margin: auto;
}
.hero {
    /* grid-column: 1/3; */
    margin: auto;
    text-align: center;
}
.hero img {
    margin: 5px;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0px 0px 3px #fff;
}
#actioncall {
    width: 120px;
    margin: auto;
    position: sticky;
    font-size: 1rem;
    text-decoration: none;
    background-color: azure;
    padding: 10px;
    border-radius: 15px;
    opacity: 70%;
    color: #000;
    text-align: center;
}
.card {
    /* grid-column: 1/3; */
    margin: 20px;
    padding: 1rem;
    background-color: skyblue;
    border-radius: 15px;
    box-shadow: 0 0 5px #fff;
}
.card h2 {
    font-family: Arvo, Arial, Helvetica, sans-serif;
}

/* -------- Menu Button ---------- */
#menu {
    position: absolute;
    font-size: 2rem;
    padding: .3rem;
    text-decoration: none;
}
#menu::before {
    content: '⭕️';
}
#menu.show::before {
    content: '❌';
}
.show li {
    display: block;
    padding: 20px;
}
footer {
    background-color: #2E6171;
    display: flex;
    max-width: 100%;
    text-align: center;
    margin: auto;
}
footer p {
    color: #fff;
    margin: auto;
    padding: 40px;
    font-size: 1.2rem;
}



/* ---------------------------------------------------------------- DISCOVER  ---------------------------------------------------------------- */

#discover-main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: Exo, Arial, Helvetica, sans-serif
}
#discover-main h1 {
    font-family: Arvo, Arial, Helvetica, sans-serif;
}
.sidecard {
    text-align: center;
}



.hide {
    display: none;
    transition: display 5s;
    transition-timing-function: linear;

    position: relative;
    left: 7px;
    margin: 5px;
    padding: 10px;
    color: #fff;
    background-color: grey;
    text-align: center;
    width: 200px;
    border: 2px solid #222;
    border-radius: 20px;
    box-shadow: 0 0 5px #111;
    z-index: 1;
}
  
.action {
    padding: 20px;
    font-family: Exo, Arial, Helvetica, sans-serif;
    position: relative;
}
.action:hover {
    color: wheat;
} 
.action:hover + .hide {
    display: block;
    
    
}

.photoDiv {
    background-color: #A4A8D1;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}
.photoDiv img {
    max-width: 80%;
    margin: 10px;
    border: 1px solid #fff;
}

#tip {
    font-size: 12px;
    color: #fff;
    margin-top: -14px;
}
.pic-hide {
    display: none;
    position: relative;
    left: 5%;
    color: #2F6171;
    background-color: #C2E7DA;
    padding: 10px;
    width: fit-content;
    opacity: 90%;
    border-radius: 10px;
}
.photoDiv picture:hover + .pic-hide {
    display: block;

}