@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald:wght@700&display=swap');
* {box-sizing: border-box}

body {  
    /* max-width: 100%; */
    margin: auto;
}
main {
    max-width: 980px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    margin: auto;
}
header {
    display: flex;
    height: 18vh;
    background-color: #453643;
    color: #EFE9F4;
}
#headimg {
    min-width: 4rem;
    max-width: 100%;
    margin: 1rem auto;
    /* border: solid 2px black; */
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}
#name {
    font-size: 1.2rem;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    margin: auto auto auto -10%;
}
nav {
    margin-top: -1rem;
}
.navbar {
    background-color: #07004D;
}
.navbar li {
    display: none;
    
    /* background-color: #07004D; */
}
.navbar a {
    float: none;
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding: 25px;
    color: #fff;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
}
.navbar a:hover {
    background-color: #FFFFFF;
    color: #090C9B;
    border: solid 2px #090C9B;
}
main h1 {
    margin-top: 50px;
    text-align: center;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
.card {
    border: 1px solid #119DA4;
    border-radius: 20px;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px #119DA4;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.card ul {
    list-style: none;
    text-align: left;
}
.card h2 {
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
/* ----------- Menu Styling ---------- */
#menu {
    position: absolute;
    top: 200px;
    left: 15px;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    z-index: 1;
}
#menu::before {
	content: "☰";
}
.show li {
    display: block;
}
#menu.show::before {
    content: "🥨";
}
/* ------ Dark Mode ------ */
#darkmode {
    position: sticky;
    margin: 1rem 0px;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    /* padding: .5rem; */
    /* background-color: #090C9B; */
    color: #000;
}
#darkmode:hover {
    cursor: pointer;
}
#darktitle {
    position: sticky;
    font-size: 1.3rem;
    margin: 1rem 1rem;
    top: 1rem;
}
#darkmode::before {
    content: "⚪️";
}
#darkmode.dark::before {
    content: "⚫️";
    box-shadow: 0 0 3px #FFFFFF;
}
main.dark {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}
body.dark {
    background-color: #453643;
}
#menu.dark {
    color: #fff;
}
main.dark #hero-label {
    background-color: navy;
}

/* ------ */

footer {
    text-align: center;
    background-color: #453643;
    padding: 20px;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    color: #EFE9F4;
}
.hero {
    margin: auto;
	position: relative;
    text-align: center;
}
.hero img {
    z-index: -1;
    width: 100%;
    height: auto;
}
.hero-label {
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 1.2rem;
    padding: 5px 25px;
    opacity: 80%;
    border-radius: 20px;
    box-shadow: 0 0 15px #ffd0d0;
    background-color: rgb(216, 216, 252);
}
/* ---------- Make Map Responsive ----------- */
.map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



/* -------------- Thanks.html--------------- */
.thanks-main {
    display: block;
    text-align: center;
    font-size: 2rem;
}