@media screen and (min-width: 480px) {
    main {
        grid-template-columns: 2fr 1fr;
    }
    .navbar {
        display: flex;
        text-align: center;
    }
    .navbar a  {
        text-align: center;
    }
    .navbar li {
        display: block;
        text-align: center;
        width: 100%;
    }
    main h1 {
        grid-column: 1/3;
    }
    #menu {
        display: none;
    }
    footer {
        grid-column: 1/3;
    }
    .hero {
        grid-column: 1/3;
    }
    main.dark {
        padding: 30px;
    }
    .map {
        grid-column: 1/3;
    }
}